@if(isLoading){
    <ng-container *ngTemplateOutlet="Loader"></ng-container>
    }@else{
    @if(memberBenefits.length){
    <ng-container *ngTemplateOutlet="Offers"></ng-container>
    }@else{
        <app-no-data>No Benefits available.</app-no-data>
    }
    }
    
    <ng-template #Offers>
        <div fxLayout="column" class="mt-20">
            <h3 class="mt-0">Available Member Benefits ({{memberBenefits.length}})</h3>
            <div fxLayout="row" fxLayoutGap="20">
                <div class="m-0" fxFlex fxLayout="row wrap" fxLayoutGap="10px grid">
                    @for (offer of memberBenefits; track $index) {
                    <div fxFlex="50">
                        <mat-card class="box-shadow-none border-gray bg-white">
                            <mat-card-content fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10" class="h-140">
                                <div class="w-50 img-sec"><img src="assets/bclc-logo.png"></div>
                                <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="100" class="w-500">
                                    <div fxLayout="column" fxLayoutGap="10" fxFlex="77">
                                        <h3 class="mt-10 card-text-ellipsis">{{ offer.name }}</h3>
                                        <p class="m-0 card-text-ellipsis">{{ offer.desc }}</p>
                                        @if(offer.expirationDate){
                                        <small class="color-gray line-height-adjust card-text-ellipsis">Expires {{ offer.expirationDate | expiryCheck
                                            }}</small>
                                        }
                                    </div>
                                </div>                            
                            </mat-card-content>
                        </mat-card>
                    </div>
                    }
                </div>
            </div>
        </div>
    </ng-template>
    
    
    <ng-template #Loader>
        <div class="mt-50">
            <app-card-mini-skeleton></app-card-mini-skeleton>
        </div>
    </ng-template>