@import '../utilities/variables';

.mat-mdc-unelevated-button:not(:disabled){
    color: var(--white) !important;
}

.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 21px !important
}
.mat-mdc-text-field-wrapper {
    height: 45px !important;
}
.mdc-text-field--outlined .mdc-floating-label {
    font-size:16px !important;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    --mat-mdc-form-field-label-transform: translateY(calc(calc(0px + var(--mat-form-field-container-height) / 2) * -1)) scale(var(--mat-mdc-form-field-floating-label-scale, 0)) !important;
}

.mat-mdc-unelevated-button:disabled{
    color: var(--mdc-filled-button-disabled-label-text-color) !important;
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: var(--color-white) !important;
    border-radius: 30px !important;
}
.mat-mdc-tab-header {
    text-align: -webkit-center !important;
}

[mat-align-tabs=center]>.mat-mdc-tab-header .mat-mdc-tab-labels {
    justify-content: center;
    width: fit-content !important;
    background-color: var(--light-orange-100) !important;
    border-radius: 30px;
    padding: 5px;
}

.mat-divider[vertical="true"] {
    height: 24px;
    margin: 0 8px;
    background-color: rgba(0, 0, 0, 0.12); /* Ensure the divider has a visible color */
  }

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0, 0, 0, .2) !important;
}

.mat-divider[vertical="true"] {
    height: 24px;
    margin: 0 8px;
    background-color: rgba(0, 0, 0, 0.12);
    /* Ensure the divider has a visible color */
}


.registration-form {
    .mat-mdc-form-field-error-wrapper {
        padding: 0;
    }
}

.return-item{
    .mat-mdc-form-field-type-mat-select{
        width: 100px;
    }
}

.mat-mdc-outlined-button:not(:disabled) {
    --mdc-outlined-button-outline-color: var(--accent) !important
}

mat-divider{
    border-top-width: 1px !important;
}

.mat-mdc-menu-panel {
    min-width: 180px !important;
}


.mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: transparent !important;
  }
.hide-ripple{
    .mdc-icon-button__ripple{
        display: none;
    }
}

.mat-mdc-form-field-infix{
    padding-top: 12px !important;
}