.card{
    height: 530px;
}
.hemming{
    width: -webkit-fill-available;
    height: auto;
}
.hemming-card{
    height: 300px;
}
.img {
    width: auto;
    max-width: 300px;
    height: auto;
    aspect-ratio: 5 / 6; 
    object-fit: cover;
}

.description {
    line-height: 1rem;
    font-size: 12px;
}
.button {
    margin-top: auto;
    width: 100%;
}

.stroked-btn {
    border-radius: 5px;
    border: 2px solid var(--primary);
    color: var(--primary) !important;
    font-weight: 500;
    width: 100%;
}