@if(!isLoading){
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10" class="p-20 w-600 mnh-200">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100p border-bottom pb-5">
        <strong>{{data.subTitle}}</strong>
        <button mat-icon-button color="primary" (click)="close(isCompleted)">&times;</button>
    </div>
    @if(!isCompleted){
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10">
        <!-- <h3><strong>{{data.title}} and {{data.desc}}</strong></h3> -->
        <ng-container *ngTemplateOutlet="SurveyQuestions"></ng-container>

    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10">
        <button mat-flat-button color="accent" (click)="close()">Cancel</button>
        <button mat-flat-button color="primary" (click)="submit()">Submit</button>
    </div>

    }@else{
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10">
        <small><strong>Survey submitted successfully!</strong></small>
        <h4 class="mb-0">You have received <span class="color-primary font-size-large">{{earnedPoints | number}}</span>
            Points</h4>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10">
        <button mat-flat-button color="primary" (click)="redirect()">Check Available Rewards</button>
        <button mat-flat-button color="accent" (click)="close(true)">Cancel</button>
    </div>
    }
</div>

<ng-template #SurveyQuestions>
    <ol>
        <li>
            <h4 class="mb-10">Tell us what you like about BCLC</h4>
            <textarea matInput rows=5 cols=50></textarea>
        </li>
        <li>
            <h4 class="mb-10 line-height-adjust">How satisfied are you with the facilities and services during your
                recent visit to a BCLC casino?</h4>
            <small class="color-gray">1= Very Dissatisfied, 5 = Very Satisfied</small>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-chip-listbox hideSingleSelectionIndicator fxFlex="40" fxLayoutAlign="start center"
                    [value]="selectedChip" color="primary">
                    <mat-chip-option [value]="1" color="primary">1</mat-chip-option>
                    <mat-chip-option [value]="1" color="primary">2</mat-chip-option>
                    <mat-chip-option [value]="1" color="primary">3</mat-chip-option>
                    <mat-chip-option [value]="1" color="primary">4</mat-chip-option>
                    <mat-chip-option [value]="1" color="primary">5</mat-chip-option>
                </mat-chip-listbox>

            </div>
        </li>
        <li>

            <h4 class="mb-10">What is your estimated Spend for 2025?</h4>
            <small class="color-gray">Select one option</small>
            <div>
                <mat-radio-group class="example-radio-group" [(ngModel)]="selectedOption" color="primary">
                    @for (option of radioOptions; track $index) {
                    <mat-radio-button class="example-radio-button mr-10" [value]="option">{{ option
                        }}</mat-radio-button>
                    }
                </mat-radio-group>
            </div>

        </li>

    </ol>
</ng-template>
}@else{
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30" class="p-20 w-600 mnh-200">
    <app-loader></app-loader>
</div>
}